{% extends 'base.html' %} {% block content %}

<h1>Home</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, dolor
  nam consequuntur enim delectus nostrum, veritatis ex excepturi veniam officiis
  sunt sapiente maiores necessitatibus, fugiat vero voluptatum consequatur!
  Minima quia ad quas ducimus nesciunt quidem praesentium provident, molestiae
  magni voluptatibus quam totam maxime recusandae aliquam ea eius rerum
  asperiores voluptatum veritatis excepturi? Aut quis quod nesciunt labore
  repellendus ex ipsa mollitia neque? Tenetur totam amet eum, ipsa quia quae
  nesciunt. Quam quibusdam dolore numquam incidunt laboriosam similique facilis
  repudiandae dignissimos dolor laborum et qui excepturi quo molestias maiores
  voluptatum ullam corrupti, velit neque, voluptates dolorem accusamus sint ipsa
  nisi. Accusantium?
</p>

{% endblock %}
